.content {
  padding: 0 30rpx;
  padding-top: 180rpx;
  .content_1 {
    .content_1_1 {
      font-size: 28rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color: #999999;
      line-height: 64rpx;
    }
    .content_1_2 {
      font-size: 28rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color: #333333;
      line-height: 40rpx;
    }
  }
  .content_2 {
    display: flex;
    align-items: center;
    .content_2_1 {
      .content_2_1_1 {
        font-size: 28rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #999999;
        line-height: 64rpx;
      }
      .content_2_1_2 {
        font-size: 28rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #333333;
        line-height: 64rpx;
      }
    }
    .content_2_2 {
      width: 1rpx;
      height: 52rpx;
      background: #e8eaed;
      margin: 0 34rpx;
    }
  }
  .content_3 {
    width: 750rpx;
    height: 12rpx;
    background: #f0f2f5;
    position: relative;
    left: -30rpx;
  }
  .content_4 {
    padding: 0 25rpx;
    .content_4_1 {
      font-size: 28rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color: #999999;
      line-height: 64rpx;
    }
    .content_4_2 {
      display: flex;
      align-items: center;
      .content_4_2_1 {
        width: 4rpx;
        height: 24rpx;
        background: #0d86ff;
        margin-right: 11rpx;
      }
      .content_4_2_2 {
        font-size: 28rpx;
        font-family: PingFang SC;
        font-weight: bold;
        color: #333333;
        line-height: 40rpx;
      }
    }
    .content_4_3 {
      font-size: 28rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color: #333333;
      line-height: 60rpx;
    }
  }
}
