.content {
  padding-top: 180rpx;
  background: #f6f6f6;
  .content_1 {
    height: 316rpx;
    background: url(http://39.106.208.234/pic/img_/gerenye_bg.png) no-repeat;
    background-size: 100%;
    border-radius: 10rpx;
    display: flex;
    padding-right: 18rpx;
    padding-left: 16rpx;
    width: 710rpx;
    margin: 0 auto;
    display: flex;
    padding-top: 46rpx;
    .content_1_1 {
      width: 110rpx;
      height: 110rpx;
      border-radius: 50rpx;
      margin-right: 17rpx;
    }
    .content_1_2 {
      position: relative;
      .content_1_2_1 {
        font-size: 34rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #ffffff;
        line-height: 1;
        margin-bottom: 29rpx;
      }
      .content_1_2_2 {
        font-size: 28rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #ffffff;
        line-height: 42rpx;
      }
      .content_1_2_3 {
        font-size: 28rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #ffffff;
        line-height: 1;
        position: absolute;
        bottom: 22rpx;
      }
    }
  }
  .content_2 {
    height: 140rpx;
    width: 710rpx;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20rpx;
    padding-right: 31rpx;
    background: #fff;
    .content_2_1 {
      display: flex;
      align-items: center;
      .content_2_1_1 {
        width: 20rpx;
        height: 28rpx;
        margin-right: 12rpx;
      }
      .content_2_1_2 {
        font-size: 28rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #404040;
        line-height: 1;
      }
    }
    .content_2_2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 142rpx;
      height: 52rpx;
      background: #1f73f1;
      border: 2rpx solid #0078ff;
      border-radius: 26rpx;
      .content_2_2_1 {
        width: 24rpx;
        height: 24rpx;
        margin-right: 8rpx;
      }
      .content_2_2_2 {
        font-size: 26rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #ffffff;
        line-height: 1;
      }
    }
  }
  .content_3 {
    background: #fff;
    width: 710rpx;
    border-radius: 10rpx;
    margin: 0 auto;
    margin-top: 35rpx;
    .content_3_1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 22rpx;
      padding-right: 17rpx;
      height: 67rpx;
      .content_3_1_1 {
        font-size: 30rpx;
        font-family: PingFang SC;
        font-weight: bold;
        color: #212121;
        line-height: 1;
      }
      .content_3_1_2 {
        display: flex;
        align-items: center;
        .content_3_1_2_1 {
          font-size: 28rpx;
          font-family: PingFang SC;
          font-weight: 400;
          color: #8d8d8d;
          line-height: 1;
          margin-right: 13rpx;
        }
        .content_3_1_2_2 {
          width: 10rpx;
          height: 20rpx;
        }
      }
    }
  }
  .content_4 {
    margin-top: 41rpx;
    .content_4_1 {
      width: 750rpx;
      height: 84rpx;
      background: #ffffff;
      line-height: 84rpx;
      font-size: 30rpx;
      font-family: PingFang SC;
      font-weight: bold;
      color: #212121;
      padding-left: 27rpx;
    }
  }
}
