.content {
  padding-top: 180rpx;
  background: #efefef;
  .content_1 {
    padding-left: 19rpx;
    padding-right: 28rpx;
    padding-bottom: 43rpx;
    background: #fff;
    .content_1_1 {
      display: flex;
      .content_1_1_1 {
        width: 4rpx;
        height: 26rpx;
        background: #3f8dfc;
        margin-right: 11rpx;
        margin-top: 12rpx;
      }
      .content_1_1_2 {
        font-size: 30rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #2c2c2c;
        line-height: 49rpx;
        margin-bottom: 25rpx;
      }
    }
    .content_1_2 {
      width: 680rpx;
      height: 90rpx;
      background: #3f8dfc;
      border-radius: 45rpx;
      margin: 0 auto;
      margin-top: 53rpx;
      font-size: 32rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color: #ffffff;
      text-align: center;
      line-height: 90rpx;
    }
  }
  .content_2 {
    background: #fff;
    padding-left: 19rpx;
    margin-bottom: 5rpx;
    .content_2_1 {
      display: flex;
      padding: 0 13rpx;
      margin-top: 66rpx;
      padding-bottom: 51rpx;
      .content_2_1_1 {
        margin-right: 43rpx;
        height: 65rpx;
        position: relative;
        .content_2_1_1_1 {
          background: #cfe3ff;
          border-radius: 33rpx;
          font-size: 28rpx;
          font-family: PingFang SC;
          font-weight: 500;
          color: #4376fb;
          text-align: center;
          line-height: 65rpx;
          padding: 0 41rpx;
        }
        .content_2_1_1_2 {
          position: absolute;
          width: 26rpx;
          height: 26rpx;
          top: -17rpx;
          right: -16rpx;
        }
      }
    }
  }
  .content_3 {
    position: relative;
    background: #fff;
    padding-top: 52rpx;
    height: 1073rpx;
    .content_3_1 {
      width: 214rpx;
      height: 63rpx;
      display: block;
      margin: 0 auto;
      margin-bottom: 24rpx;
    }
    .content_3_2 {
      position: absolute;
      left: 0;
      width: 451rpx;
      height: 892rpx;
      z-index: 2;
    }
    .content_3_3 {
      width: 316rpx;
      height: 744rpx;
      position: absolute;
      right: 41rpx;
      top: 213rpx;
      z-index: 1;
    }
    .content_3_4 {
      width: 235rpx;
      height: 64rpx;
      background: #ffbb45;
      border-radius: 32rpx;
      position: absolute;
      bottom: 117rpx;
      left: 113rpx;
      z-index: 3;
      font-size: 30rpx;
      font-family: PingFang SC;
      font-weight: 400;
      color: #191919;
      text-align: center;
      line-height: 64rpx;
    }
    .content_3_5 {
      width: 235rpx;
      height: 64rpx;
      background: #4376fb;
      border-radius: 32rpx;
      text-align: center;
      line-height: 64rpx;
      position: absolute;
      right: 76rpx;
      bottom: 139rpx;
      z-index: 3;
      font-size: 30rpx;
      font-family: PingFang SC;
      font-weight: 400;
      color: #ffffff;
    }
  }
}
