.content {
  padding-top: 180rpx;
  .content_1 {
    padding-left: 36rpx;
    padding-right: 59rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750rpx;
    height: 96rpx;
    background: #ffffff;
    border-bottom: 1rpx solid #f6f6f6;
    .content_1_1 {
      font-size: 28rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color: #414141;
    }
  }
  .content_2 {
    width: 450rpx;
    height: 100rpx;
    background: #317af6;
    border-radius: 50rpx;
    text-align: center;
    line-height: 100rpx;
    font-size: 32rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
    margin-top: 90rpx;
  }
}
