.content {
  padding-top: 216rpx;
  background: #f6f6f6;
  min-height: 100vh;
  .content_1 {
    margin-bottom: 18rpx;
    .content_1_1 {
      width: 750rpx;
      height: 96rpx;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1rpx solid #f6f6f6;
      padding-left: 40rpx;
      padding-right: 31rpx;
      .content_1_1_1 {
        font-size: 32rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #414141;
        line-height: 1;
      }
      .content_1_1_2 {
        display: flex;
        align-items: center;
        .content_1_1_2_1 {
          width: 70rpx;
          height: 70rpx;
          border-radius: 50%;
        }
        .content_1_1_2_2 {
          width: 14rpx;
          height: 26rpx;
          margin-left: 10rpx;
        }
        .content_1_1_2_3 {
          font-size: 32rpx;
          font-family: PingFang SC;
          font-weight: 500;
          color: #5f5f5f;
          line-height: 1;
        }
      }
    }
  }
}
