.content {
  .content_1 {
    width: 750rpx;
    background: linear-gradient(0deg, #f6f6f6 1%, #e9f4fa 50%, #d6f6f3 100%);
    padding-top: 113rpx;
    .content_1_1 {
      display: flex;
      align-items: center;
    }
  }
}
