.content {
  background: #f6f6f6;
  padding-bottom: 154rpx;

  .content_1 {
    width: 750rpx;
    background: linear-gradient(0deg, #f6f6f6 1%, #e9f4fa 50%, #d6f6f3 100%);
    padding: 0 20rpx;
    padding-top: 113rpx;

    .content_1_1 {
      display: flex;
      margin-bottom: 51rpx;
      position: relative;
      width: 710rpx;

      .content_1_1_1 {
        position: relative;
        margin-right: 21rpx;

        .content_1_1_1_1 {
          width: 110rpx;
          height: 110rpx;
          border-radius: 55rpx;
        }

        .content_1_1_1_2 {
          position: absolute;
          right: 3rpx;
          bottom: 25rpx;
          width: 33rpx;
          height: 33rpx;
        }
      }

      .content_1_1_2 {
        .content_1_1_2_1 {
          margin-bottom: 28rpx;
          display: flex;
          align-items: center;

          .content_1_1_2_1_1 {
            font-size: 36rpx;
            font-family: PingFang SC;
            font-weight: bold;
            color: #0c0c0c;
            line-height: 1;
            margin-right: 11rpx;
          }
        }

        .content_1_1_2_2 {
          font-size: 24rpx;
          font-family: PingFang SC;
          font-weight: 400;
          color: #3f4f67;
        }
      }

      .content_1_1_3 {
        width: 131rpx;
        height: 51rpx;
        background: rgba(255, 255, 255, 0.29);
        border: 1rpx solid #1F73F1;
        border-radius: 25rpx;
        text-align: center;
        line-height: 49rpx;
        font-size: 24rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #1F73F1;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        position: absolute;
      }
    }

    .content_1_2 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 29rpx;

      .content_1_2_1 {
        width: 232rpx;
        height: 115rpx;
      }
    }

    .content_1_3 {
      background: url('http://39.106.208.234/pic/img_/huiyuan-bjtc.webp') no-repeat;
      background-size: 100%;
      width: 710rpx;
      height: 104rpx;
      padding-left: 78rpx;
      padding-right: 38rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .content_1_3_1 {
        font-size: 29rpx;
        font-family: PingFang SC;
        font-weight: bold;
        color: #7f521a;
      }

      .content_1_3_2 {
        width: 149rpx;
        height: 52rpx;
        background: #7f521a;
        border-radius: 26rpx;
        text-align: center;
        line-height: 52rpx;
        font-size: 26rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #fdead3;
      }
    }
  }

  .content_2 {
    width: 710rpx;
    height: 180rpx;
    background: #ffffff;
    border-radius: 0px 0px 10rpx 10rpx;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rpx;

    .content_2_1 {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .content_2_1_1 {
        width: 67rpx;
        height: 64rpx;
      }

      .content_2_1_2 {
        width: 61rpx;
        height: 65rpx;
      }

      .content_2_1_3 {
        width: 63rpx;
        height: 66rpx;
      }

      .content_2_1_4 {
        width: 58rpx;
        height: 64rpx;
      }
    }

    .content_2_2 {
      margin-top: 14rpx;
      margin-bottom: 18rpx;
      display: flex;
      justify-content: space-around;

      .content_2_2_1 {
        font-size: 26rpx;
        font-family: PingFang SC;
        font-weight: bold;
        color: #0c0c0c;
      }
    }
  }

  .content_3 {
    width: 710rpx;
    height: 267rpx;
    background: #ffffff;
    border-radius: 10rpx;
    margin: 0 auto;
    margin-top: 18rpx;

    .content_3_1 {
      font-size: 30rpx;
      font-family: PingFang SC;
      font-weight: bold;
      color: #000000;
      line-height: 1;
      padding-top: 37rpx;
      margin-bottom: 58rpx;
      padding-left: 28rpx;
    }

    .content_3_2 {
      .content_3_2_1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;

        .content_3_2_1_1 {
          width: 40rpx;
          height: 43rpx;
        }

        .content_3_2_1_2 {
          width: 49rpx;
          height: 37rpx;
        }

        .content_3_2_1_3 {
          width: 43rpx;
          height: 44rpx;
        }
      }

      .content_3_2_2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;

        .content_3_2_2_1 {
          font-size: 24rpx;
          font-family: PingFang SC;
          font-weight: 500;
          color: #000000;
          line-height: 1;
          margin-top: 27rpx;
        }
      }
    }
  }

  .content_4 {
    width: 710rpx;
    height: 404rpx;
    background: #ffffff;
    border-radius: 10rpx;
    margin: 0 auto;
    margin-top: 18rpx;

    .content_4_1 {
      font-size: 30rpx;
      font-family: PingFang SC;
      font-weight: bold;
      color: #000000;
      line-height: 1;
      padding-top: 37rpx;
      margin-bottom: 58rpx;
      padding-left: 28rpx;
    }

    .content_4_2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .content_4_2_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 56rpx;
        position: relative;

        .content_4_2_1_1 {
          width: 34rpx;
          height: 38rpx;
        }

        .content_4_2_1_2 {
          width: 39rpx;
          height: 38rpx;
        }

        .content_4_2_1_3 {
          width: 41rpx;
          height: 38rpx;
        }

        .content_4_2_1_4 {
          width: 42rpx;
          height: 40rpx;
        }

        .content_4_2_1_5 {
          width: 36rpx;
          height: 36rpx;
        }

        .content_4_2_1_6 {
          font-size: 25rpx;
          font-family: PingFang SC;
          font-weight: 500;
          color: #000000;
          line-height: 1;
          margin-top: 26rpx;
        }

        .content_4_2_1_7 {
          width: 71rpx;
          height: 27rpx;
          background: #C1C1C1;
          border-radius: 14rpx 14rpx 14rpx 0px;
          text-align: center;
          line-height: 27rpx;
          font-size: 19rpx;
          font-family: PingFang SC;
          font-weight: 500;
          color: #FFFFFF;
          position: absolute;
          top: -30rpx;
          right: -9rpx;
        }
      }
    }
  }
}

.show {
  width: 680rpx;
  height: 884rpx;
  background: url(http://39.106.208.234/pic/img_/kefu_tc.png) no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-top: 356rpx;

  .show_1 {
    margin-bottom: 30rpx;
    text-align: center;

    .show_1_1 {
      font-size: 34rpx;
      font-family: PingFang SC;
      font-weight: 500;
      line-height: 1;
      color: #212121;
    }

    .show_1_2 {
      font-size: 34rpx;
      font-family: PingFang SC;
      font-weight: 500;
      line-height: 1;
      color: #679fff;
    }
  }

  .show_2 {
    display: block;
    margin: 0 auto;
    width: 212rpx;
    height: 212rpx;
    margin-bottom: 32rpx;
  }

  .show_3 {
    font-size: 30rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #939393;
    line-height: 1;
    text-align: center;
  }
}