.head {
  display: flex;
  justify-content: space-between;
  padding: 0 19rpx;
  align-items: center;
  height: 180rpx;
  padding-top: 20rpx;
  position: fixed;
  width: 100%;
  background: rgb(235, 21, 45);
  z-index: 5;
  .head_1,
  .head_2,
  .head_3 {
    flex: 1;
    .head_1_1 {
      width: 40rpx;
      height: 40rpx;
    }
  }
  .head_2 {
    text-align: center;
    font-size: 34rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #fff;
  }
}
.content {
  background: url('http://39.106.208.234/pic/img_/yhyzxj.png') no-repeat;
  background-size: 100%;
  height: 4300rpx;
  position: absolute;
  top: 180rpx;
  width: 100%;
}
