.content {
  // background: url('../../static/yqyl2.png') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1790rpx;
  position: relative;

  .content_1 {
    position: absolute;
    height: 125rpx;
    width: 125rpx;
    bottom: 60rpx;
    right: 86rpx;
  }
}