.content {
  padding-top: 220rpx;
  background: #f6f6f6;
  .content_1 {
    width: 710rpx;
    height: 70rpx;
    border-radius: 35rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 36rpx;
    padding-right: 44rpx;
    margin-bottom: 29rpx;
    background: #fff;
    margin: 0 auto;
    .content_1_1 {
      width: 32rpx;
      height: 32rpx;
      margin-right: 29rpx;
    }
  }
}
