.content {
  padding-top: 180rpx;
  .content_1 {
    background: #f6f6f6;
    height: 35rpx;
  }
  .content_2 {
    width: 750rpx;
    height: 96rpx;
    background: #ffffff;
    border-bottom: 1rpx solid #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 39rpx;
    padding-right: 31rpx;
    .content_2_1 {
      font-size: 32rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color: #414141;
      line-height: 1;
    }
    .content_2_2 {
      width: 14rpx;
      height: 26rpx;
    }
  }
  .content_3 {
    width: 750rpx;
    height: 96rpx;
    background: #ffffff;
    border-bottom: 1rpx solid #f6f6f6;
    line-height: 96rpx;
    text-align: center;
    font-size: 32rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: red;
  }
}
