.content {
  padding: 0 34rpx;
  padding-top: 180rpx;
  .content_1 {
    font-size: 40rpx;
    font-family: PingFang SC;
    font-weight: bold;
    color: #444444;
    margin-bottom: 31rpx;
  }
  .content_2 {
    font-size: 32rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #a6a6a6;
  }
  .content_3 {
    height: 217rpx;
    padding-top: 54rpx;
    border-bottom: 2rpx solid #f2f2f2;
    .content_3_1 {
      font-size: 32rpx;
      font-family: PingFang SC;
      font-weight: bold;
      color: #444444;
      line-height: 1;
      margin-bottom: 58rpx;
    }
  }
  .content_5 {
    width: 680rpx;
    height: 90rpx;
    background: #3f8dfc;
    border-radius: 41rpx;
    margin: 0 auto;
    margin-top: 203rpx;
    text-align: center;
    line-height: 90rpx;
    font-size: 32rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #ffffff;
  }
  .content_6 {
    font-size: 30rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #3f8dfc;
    text-align: center;
    margin-top: 67rpx;
  }
}
